<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Platters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Platters.Properties.Settings>
            <setting name="randomFileNameSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fileLocationSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="showErrorMessagesSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftphostSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpusernameSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ftppasswordSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpdirectorySetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpportSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uploadFileSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftpOKsettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileasdatesetting" serializeAs="String">
                <value>True</value>
            </setting>
        </Platters.Properties.Settings>
    </userSettings>
</configuration>