<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skimpt3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <Skimpt3.Properties.Settings>
            <setting name="ImageFileLocation" serializeAs="String">
                <value>c:\Users\Affan\Pictures</value>
            </setting>
            <setting name="ShowErrorMessageBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToastFormTimer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="OptimizeImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value>433a1bf4743dd8d7845629b95b5ca1b4</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
        </Skimpt3.Properties.Settings>
    </userSettings>
</configuration>
